
@media screen and (min-width: 360px) and (max-width: 767px){
    .toogle{
        height: 31px;
        margin-top: -2vw;
        padding: 2.1vw 2vw 7vw 4vw;
        color: white;
        font-weight: 600;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    .toogle{
        height: 38px;
        margin-top: 0.2vw;
        padding: 1.1vw 1vw 3vw 1vw;
        color: white;
        font-weight: 400;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1365px){
    .toogle{
        margin-top: 0.5vw;
        height: 0.8vw;
        padding: 0.9vw 1vw 2.1vw 1vw;
        margin-left: 0.8vw;
    }
}
@media screen and (min-width: 1366px) and (max-width: 1600px){
    .toogle{
        margin-top: 0.3vw;
        height: 0.8vw;
        padding: 0.8vw 1vw 1.8vw 1vw;
    }
}
.userName{
    text-align: center;
    margin-bottom: 15px;
    padding-bottom: 5px;
    text-transform: uppercase;
    color: white;
     font-size: 12px;
}
.mob_butn_pro{
    background-color: #223971;
    font-size: 18px;
}
.mob_butn_log{
   background-color: #223971; 
}