.tableData{
    justify-content: center;
    text-align: center;
}
.tableHead{
    padding: 20px;
}
.tableTd{
    padding: 20px !important; 
    /* font-weight: bold */
    font-size: 15px;
}

.text_topFilter{
    margin-top: -24%;
    font-size: 20px;
    text-align: left;
    margin-bottom: 15px;
}
.filteration{
    font-size: 25px !important;
}