.userDataPlace{
    background-color: #eeeeee;
    margin-left: 15px;
    border: 1px solid #b7b3b3;
}
.tablee_Head{
        background-color: #007bff;
        color: white;
}
.tablee_td{
    padding: 1vw !important;
    border: 2px solid #ecf1f7 !important;
    background-color: white;
}
.tablee_th{
    font-weight: 600 !important;
    padding: 1vw !important;
    border: 2px solid #ecf1f7 !important;
    background-color: white;
}
.tablee_Navtab{
    padding:1vw;
}