
$font-stack:  visby-bold;
$font-regular:  visby-regular;
$secondary-color: #19303a;
$primary-color: #19b3e8;
$light-color:#4a5964;

.userDataPlace{
    background-color: #eeeeee;
    border: 1px solid #b7b3b3;
    overflow-x: auto;
}
.tablee_Head{
        background-color: #007bff;
        color: white;
}
.tablee_td{
    padding: 1vw !important;
    border: 2px solid #ecf1f7 !important;
    background-color: white;
    font-family: $font-regular;
}
.tablee_th{
    font-weight: 600 !important;
    padding: 1vw !important;
    border: 2px solid #ecf1f7 !important;
    background-color: white;
    font-family: $font-regular;
}
.tablee_Navtab{
    padding:1vw;
}