$font-stack:  visby-bold;
$font-regular:  visby-regular;
$secondary-color: #00334F;
$primary-color: #0088D1;
$light-color:#6E8796;


.mainRwTopCities{
    margin-top: 4vw;
}
.mainTopCitiespanel{
    margin-top: 2vw;
}
.TopCitiesHead{
    text-align: center;
    font-size: 33px;
    font-family: $font-stack;
    color: $secondary-color;
}

.cityDivBorder{
    border: 2px solid #e4e4e4;
    margin-bottom: 10px;
    cursor: pointer;
}
.cityDivBorder:hover{
    background-color: #e4e4e4;
    margin-bottom: 10px;
    cursor: pointer;
}
.cityNames{
    font-size: 20px;
    text-align: center;
    font-family: $font-stack;
    color: $secondary-color;
    padding-top: 7px;
    margin: 0;
}
.cityNoAds{
    text-align: center;
    font-size: 13px;
    font-family: $font-regular;
    color: $light-color;
}