$font-stack:  visby-bold;
$font-regular:  visby-regular;
$secondary-color: #00334F;
$primary-color: #0088D1;
$light-color:#6E8796;

.mainRwofList{
    margin-top: 4vw;
    margin-bottom: 5vw;
}
.questSec{
    background-color: #e4e4e4;
    padding-bottom: 2vw;
}
.startSec{
    background-color: $primary-color;
    padding-bottom: 2vw;
}
@media screen and (min-width: 360px) and (max-width: 767px) {
    .interestedHead{
        color: $secondary-color;
        font-size: 33px;
        font-family: $font-stack;
        padding-top: 6vw;
    }
    .interestedBottomPara{
        font-size: 19px;
        width: 100%;
        font-family: $font-regular;
        color: $light-color;
    }
    .getStartedText{
        text-align: center;
        color: white;
        font-size: 33px;
        font-family: $font-stack;
        padding-top: 6vw;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .interestedHead{
        color: $secondary-color;
        font-size: 33px;
        font-family: $font-stack;
        padding-top: 3vw;
    }
    .interestedBottomPara{
        font-size: 19px;
        width: 80%;
        font-family: $font-regular;
        color: $light-color;
    }
    .getStartedText{
        text-align: center;
        color: white;
        font-size: 33px;
        font-family: $font-stack;
        padding-top: 12vw;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1365px) {
    .interestedHead{
        color: $secondary-color;
        font-size: 33px;
        font-family: $font-stack;
        padding-top: 3vw;
    }
    .interestedBottomPara{
        font-size: 19px;
        width: 80%;
        font-family: $font-regular;
        color: $light-color;
    }
    .getStartedText{
        text-align: center;
        color: white;
        font-size: 33px;
        font-family: $font-stack;
        padding-top: 7vw;
    }
}
@media screen and (min-width: 1366px) and (max-width: 1600px) {
    .interestedHead{
        color: $secondary-color;
        font-size: 33px;
        font-family: $font-stack;
        padding-top: 3vw;
    }
    .interestedBottomPara{
        font-size: 19px;
        width: 80%;
        font-family: $font-regular;
        color: $light-color;
    }
    .getStartedText{
        text-align: center;
        color: white;
        font-size: 33px;
        font-family: $font-stack;
        padding-top: 6vw;
    }
}
@media screen and (min-width: 1600px){
    .interestedHead{
        color: $secondary-color;
        font-size: 40px;
        font-family: $font-stack;
        padding-top: 3vw;
    }
    .interestedBottomPara{
        font-size: 21px;
        width: 70%;
        font-family: $font-regular;
        color: $light-color;
    }
    .getStartedText{
        text-align: center;
        color: white;
        font-size: 40px;
        font-family: $font-stack;
        padding-top: 5vw;
    }
}