
$font-stack:  visby-bold;
$font-regular:  visby-regular;
$secondary-color: #19303a;
$primary-color: #19b3e8;
$light-color:#4a5964;

.unit1{
		width: 100%;
		height: 300px;
		margin-top: 5px;
		position: absolute;
	}
.unit2{
		margin-top: 10%;
	    font-family: Helvetica;
	    margin-left: 10%;
    	position: relative;
	}
.unit3{
		 font-size: 35px;
	    font-weight: 600;
	    color: white;
	}
.unit4{
	display: inline;
	margin-left: -55px;
	}
.unit5{
	display: inline;
	margin-left: -31px;
	}
.unit6{
	color: white;
	}
.unit7{
		background-color: #29abe2;
	}
@media screen and (min-width: 360px) and (max-width: 660px){
.unit8{
	margin-top: 183px;
	padding: 0px;

	}
	.containerAlign{
		margin-left: 2px;
	}
	.containerMargin{
		margin-left: -3%;
	}
}
@media screen and (min-width: 768px) and (max-width: 1020px){
	.unit8{
	margin-top: 187px;
	padding: 0px;

	}
	.containerAlign{
		margin-left: 26px;
	}
	.containerMargin{
		margin-left: 12px;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1366px){
	.unit8{
	margin-top: 161px;
	padding: 0px;

	}
	.containerAlign{
		margin-left: 73px;
	}
	.containerMargin{
		margin-left: 59px;
	}
}
@media screen and (min-width: 1366px) and (max-width: 1600px){
	.unit8{
		margin-top: 126px;
		padding: 0px;

	}
	.containerAlign{
		margin-left: 96px;
	}
	.containerMargin{
		margin-left: 6%;
	}	
}	

.unit9{
	color: black;
	font-weight: 700;
	font-size: 29px;
	font-family: Helvetica;
}
.unit10{
	font-weight: 500;
	font-family: Helvetica;
}
.billion0{
	border-bottom: 3px solid #29abe2;
	margin-left: 15px;
}

.billion1{
	background-color: #29abe2;
    padding: 5px;
}
.billion2{
	color: white;
}
.billion3{
    background-color: #E1DDDD;
    padding: 15px;
}
.billion4{
	background-color: white;

}
.billionimg{
	width: 100%;
	height: 190px;
}
.billion5{
	font-weight: 700;
	font-size: 23px;
	font-family: Helvetica;
	color: black;
}
.billion6{
	font-size: 15px;
	font-family: Helvetica;
	color: #29abe2;
	font-weight: 600;
}
.billion7{
	font-size: 15px;
	font-family: Helvetica;
	color: black;
}

.billionbtn2{
	border-radius: 0%;
	background-color: #29abe2; 
}
.billionhearticon{
	font-size: 30px;
	color: #29abe2;
}
@media screen and (min-width: 360px) and (max-width: 660px){
	.billion8{
		max-width: 73%;
	}
	.billionimg{
		width: 100%;
		height: 190px;
	}
	.toyo4{
	
    	padding: 7%;
	}
	.toyo5{
	margin-left: 10px;
	padding: 7%;
	}
	.billionbtn{
	border-radius: 34%;
	background-color: #29abe2; 
	margin-top: 30%;
	}
	.toyo3{
	border: 2px solid #29abe2;
	margin-left: -20%;
	}
	.toyo6{
	margin-left: 15%;
	}
}
@media screen and (min-width: 768px) and (max-width: 1020px){
	.billion8{
		max-width: 56%;
	}
	.billionimg{
		width: 112%;
    	height: 216px;
	}
	.toyo4{
	margin-left: -32px;
	}
	.toyo5{
	margin-left: 20px;
	}
	.billionbtn{
	border-radius: 34%;
	background-color: #29abe2; 
	}
	.toyo3{
	border: 2px solid #29abe2;
	}
	.toyo6{
	margin-left: -7%;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1366px){
	.billion8{
		max-width: 70%;
	}
	.billionimg{
		width: 110%;
		height: 190px;
	}
	.toyo4{
	margin-left: -32px;
	}
	.toyo5{
	margin-left: 10px;
	}
	.billionbtn{
	border-radius: 34%;
	background-color: #29abe2; 
	}
	.toyo3{
	border: 2px solid #29abe2;
	}
	.toyo6{
	margin-left: -1%;
	}
}
@media screen and (min-width: 1366px) and (max-width: 1600px){
	.billion8{
		max-width: 73%;
	}
	.billionimg{
		width: 108%;
		height: 201px;
	}
	.toyo4{
	margin-left: -41px;
	}
	.toyo5{
	margin-left: 10px;
	}
	.billionbtn{
	border-radius: 34%;
	background-color: #29abe2; 
	}
	.toyo3{
	border: 2px solid #29abe2;
	}
	.toyo6{
	margin-left: 0%;
	}
}
.toyo1{
	color: white;
	background-color: #29abe2;
	margin-bottom:  1%;
    padding: 5px;
    text-align: center;
}
.toyo2{
	font-size: 18px;
	margin-top: 3%;
}





















