$font-stack:  visby-bold;
$font-regular:  visby-regular;
$secondary-color: #00334F;
$primary-color: #0088D1;
$light-color:#6E8796;

.mainRwClients{
    background-color: #e4e4e4;
    margin-top: 4vw;
    padding-bottom: 3vw;
}
.mainRwClientsCarosel{
    margin-top: 2vw;
}
.clientsHead{
    text-align: center;
    font-size: 33px;
    font-family: $font-stack;
    color: $secondary-color;
    margin-top: 25px;
}
.clientsHeadMob{
    text-align: center;
    font-size: 33px;
    font-family: $font-stack;
    color: $secondary-color;
    margin-top: 25px;
}
.logosClient{
    width: 100%;
    height: 200px;
}
@media screen and (min-width: 360px) and (max-width: 767px) {
    
}
@media screen and (min-width: 768px){
    
}