
$font-stack:  visby-bold;
$font-regular:  visby-regular;
$secondary-color: #19303a;
$primary-color: #19b3e8;
$light-color:#4a5964;

.card_megadetail{
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}
.detail{
    font-family: $font-regular;
}
.bookBtnMEga{
    font-family: $font-stack;
    background-color: $primary-color;
}
.countDownMega{
    font-family: $font-stack;
    color: $secondary-color;
}
.contactDetailHead{
    font-family: $font-stack;
}

@media screen and (min-width: 360px) and (max-width: 767px){
    .bookBtn_mega{
        width: 100%;
        padding: 1vw;
        font-weight: 700;
        font-family: Helvetica;
        margin-top: 4vw;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    .bookBtn_mega{
        width: 100%;
        padding: 1vw;
        font-weight: 700;
        font-size: 12.5px;
        font-family: Helvetica;
        margin-top: 0.5vw;
    
    }
}
@media screen and (min-width: 1024px) and (max-width: 1365px){
    .bookBtn_mega{
        width: 100%;
        padding: 1vw;
        font-weight: 700;
        font-family: Helvetica;
        margin-top: 2.2vw;
        margin-left: 1.1vw;
    }
}
@media screen and (min-width: 1366px) and (max-width: 1600px){
    .bookBtn_mega{
        width: 100%;
        padding: 1vw;
        font-weight: 700;
        font-family: Helvetica;
        margin-top: 2.2vw;
        margin-left: 1vw;
    }
}

@media screen and (min-width: 1600px){
    .bookBtn_mega{
        width: 100%;
        padding: 1vw;
        font-weight: 700;
        font-family: Helvetica;
        margin-top: 2.2vw;
        margin-left: 1vw;
    }
}