.envato1{
		width: 100%;
		height: 300px;
		margin-top: 5px;
		position: absolute;
}
.envato2{
		margin-top: 10%;
	    font-family: Helvetica;
	    margin-left: 10%;
    	position: relative;
}
.envato3{
	 	font-size: 35px;
	    font-weight: 600;
	    color: white;
	    font-family: Helvetica;
}

.envato5{
	display: inline;
	margin-left: -31px;
}
.envato6{
	color: white;
}
.envato7{
	background-color: #29abe2;
}
@media screen and (min-width: 360px) and (max-width: 660px){
.envato8{
	margin-top: 227px;

	}
	.envato4{
		
	}
}
@media screen and (min-width: 768px) and (max-width: 1020px){
.envato8{
	margin-top: 187px;
	padding: 0px;

	}
	.envato4{
	
	}
}
@media screen and (min-width: 1024px) and (max-width: 1366px){
.envato8{
	margin-top: 161px;
	padding: 0px;

	}
	.envato4{
		margin-left: 7%;
	}
}
@media screen and (min-width: 1366px) and (max-width: 1600px){
.envato8{
		margin-top: 126px;
		padding: 0px;
	}
	.envato4{
		margin-left: 7%;
	}	
}


.envato9{
	color: black;
	font-weight: 700;
	font-size: 25px;
	font-family: Helvetica;
}
.envato10{
	font-weight: 500;
	font-family: Helvetica;
}
.siddiq78{
	border-bottom: 3px solid #29abe2;
	margin-left: 15px;
}

.aux1{
	background-color: #29abe2;
    padding: 5px;
}
.aux2{
	color: white;
}
.aux3{
	background-color: #D0C9C9;
    padding: 15px;
}
.aux4{
	background-color: white;

}
.aux5{
	font-weight: 700;
	font-size: 23px;
	font-family: Helvetica;
	color: black;
}
.aux6{
	font-size: 15px;
	font-family: Helvetica;
	color: black;
}
.btnaux7{
	border-radius: 34%;
	background-color: #29abe2; 
}
.heardicon{
	font-size: 35px;
	color: #29abe2;
}
@media screen and (min-width: 360px) and (max-width: 660px){
	.aux10{
		max-width: 73%;
	}
	.imagesize{
		width: 100%;
		height: 190px;
	}
}
@media screen and (min-width: 768px) and (max-width: 1020px){
	.aux10{
		max-width: 56%;
	}
	.imagesize{
		width: 112%;
    	height: 216px;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1366px){
	.aux10{
		max-width: 70%;
	}
	.imagesize{
		width: 110%;
		height: 190px;
	}
}
@media screen and (min-width: 1366px) and (max-width: 1600px){
	.aux10{
		max-width: 73%;
	}
	.imagesize{
		width: 108%;
		height: 190px;
	}
}
@media screen and (min-width: 360px) and (max-width: 660px){
	.list_form{
		width: 98%;
	}	
}
@media screen and (min-width: 768px) and (max-width: 1020px){
	.list_form{
		width: 103.5%;
	}	
}
@media screen and (min-width: 1024px) and (max-width: 1366px){
	.list_form{
		width: 102.5%;
	}	
}
@media screen and (min-width: 1366px) and (max-width: 1600px){
	.list_form{
		width: 102%;
	}	
}































