$font-stack:  visby-bold;
$font-regular:  visby-regular;
$secondary-color: #19303a;
$primary-color: #19b3e8;
$light-color:#4a5964;

.BidhistoryTH{
    font-family: $font-stack;
}
.kurta1{
	background-color: #E4D9D9;
}
.kurta2{
    margin-left: 28%;
    padding: 15%;
}
.kurta3{
	border: 2px solid #29abe2;

}
.kurta4{
	margin-left: -3%;
}
.doesit1{
	background-color: #29abe2;
    padding: 9px;
}
.doesit2{
	color: white;
	font-weight: 500;
	font-size: 20px;
	font-family: $font-stack;
}
.doesit3{
	font-weight: 700;
	font-family: $font-stack;
}
.doesit4{
	font-weight: 600;
	font-family: $font-stack;
}
.doesit5{
    background-color: #E1DEDE;
    padding: 8px;
    border-bottom: 2px solid white;
}
.doesit6{
	padding: 8px;
	border-bottom: 3px solid #E1DEDE;
    border-right: 2px solid #E1DEDE;
    font-family: $font-regular;
}
.doesit7{
	background-color: #E1DEDE;
    padding: 8px;
}
.doesit8{
	border-right: 3px solid #29abe2;
    border-left: 3px solid #29abe2;
}
.doesit9{
    background-color: #eeeeee;
    margin-left: 15px;
    border: 3px solid #29abe2;
}
.doesit10{
	    font-size: 17px;
    font-weight: 500;
    font-family: $font-stack;
}
.table>tbody>tr>td {
	padding: 0px;
}
.tikonduxx1{
    border-right: 3px solid #29abe2 !important;
    border-top: 3px solid #29abe2 !important;
    border-radius: 0px !important;
}
.tikonduxx2{
    border-left: 3px solid #29abe2 !important;
    border-top: 3px solid #29abe2 !important;
    margin-left: 2%;
    border-radius: 0px !important;
}
@media screen and (min-width: 360px) and (max-width: 767px){
    .bidPrice{
        text-align: center !important;
        margin-bottom: 4vw;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    .bidPrice{
        text-align: right !important;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1365px){
    .bidPrice{
        text-align: right !important;
    }
}
@media screen and (min-width: 1366px) and (max-width: 1600px){
    .bidPrice{
        text-align: right !important;
    }
}
@media screen and (min-width: 1600px){
    .bidPrice{
        text-align: right !important;
    }
}