$font-stack: visby-bold;
$font-regular: visby-regular;
$secondary-color: #00334f;
$primary-color: #0088d1;
$light-color: #6e8796;

@media screen and (min-width: 360px) and (max-width: 767px) {
    .seeAllCate {
        font-size: 18px;
        font-family: $font-stack;
        color: $primary-color;
        text-decoration: underline;
        text-align: center;
        margin-top: 1vw;
    }
}
@media screen and (min-width: 768px) {
    .seeAllCate {
        font-size: 18px;
        font-family: $font-stack;
        color: $primary-color;
        text-decoration: underline;
        text-align: right;
        margin-top: 0.6vw;
    }
}

.mainRwBrowseCate {
    margin-top: 4vw;
}
.mainRwBrowseCateImgs {
    margin-top: 2vw;
}
.browseCateHead {
    text-align: center;
    font-size: 33px;
    font-family: $font-stack;
    color: $secondary-color;
}
.browseCateImgs {
    background-image: url("https://res.cloudinary.com/dxk0bmtei/image/upload/v1586936694/roomRenting_f8w1st.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: center;
    height: 20vh;
    margin-bottom: 15px;
    border-radius: 5px;
}
.browseimage{
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px;
}
