$font-stack:  visby-bold;
$font-regular:  visby-regular;
$secondary-color: #19303a;
$primary-color: #19b3e8;
$light-color:#4a5964;

.weightageBtn{
    font-size: 21px;
    color: #229222;
    background-color: #e4ecf5;
    border: 2px solid #b3aeae;
    width: 50px;
}
.companyLogoProfile{
    width: 50px;
    margin: -5px 0px -5px 0px;
}