.redable1{
	background-color: #29abe2;
	text-align: center;
	padding: 10px;
}
.redable2{
	color: white;
}
.redable3{
	background-color: white;
	margin-bottom: 10px;
	margin-top: 4%;
}
.redable4{
	color: #29abe2;
	font-weight: 600;
}
.redable5{
	background-color: #29abe2;
	text-align: center;
	border-left: 2px solid white;
	padding: 10px;
}
.redable6{
	background-color: #29abe2;
	text-align: center;
}
.redable7{
	color: white;
}
.redable8{
	background-color: white;
}
.redable9{
	background-color: white;
	text-align: center;
}