
$font-stack:  visby-bold;
$font-regular:  visby-regular;
$secondary-color: #00334F;
$primary-color: #0088D1;
$light-color:#6E8796;

.filteMarkt{
  font-size: 25px;
  font-family: $font-stack;
  color: $secondary-color;
}
.billMarkt{
  font-size: 25px;
  font-family: $font-stack;
  color: $secondary-color;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.billboard{
    font-size: 30px;
    padding: 15px;
}
.imgBillBoard{
    width: 110px;
    height: 170px;
}
.filter{
    padding: 15px;
}

.filterDivs{
    font-size: 20px;
    font-weight: bold;
    font-family: $font-stack;
    color: $secondary-color;
    margin-bottom: 20px;
    margin-top: 3%;
}

.radioText{
  font-size: 16px;
  font-family: $font-regular;
  color: $light-color;
}

.dropdown{
    padding-left: 0px
}

.fasla{
  font-family: Helvetica;
  line-height: 2;

}
.fasla1{
  font-family: Helvetica;
  margin-bottom: 15px;

}
.marketFilter_Input_mob{
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.marketFilter_Input{
  display: block;
  width: 110%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}



@media only screen and (min-device-width : 360px) and (max-device-width : 660px){
.caret_down {
    
    margin-left: 60%;
    width:10px;
    height: 10px;

  }
.efect {
  margin-bottom: 28%;
  margin-left: 20px;
  position: relative;
  width: 100px;
  height: 170px;
  box-shadow: inset 0px -410px 42px rgba(0,0,0,0.9);
  border-radius: 20px 20px 0px 0px;
  margin-left: 15px;
  display: block;
  position: relative;
  visibility: show;
}

.im_efect {
  border-radius: 20px 20px 0px 0px;
  opacity: 1;
  display: block;
  width: 279px;
  margin-left: -15px;
  height: 170px;
  transition: .5s ease;
  backface-visibility: hidden;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

.div_efect {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.efect:hover .im_efect {
  opacity: 0.3;
}

.efect:hover .div_efect {
  opacity: 1;
  width: 100px;
}

.text_efect {
  color: white;
  font-size: 14px;
  width: 100px;
  position: relative;
  visibility: show;
}
.card{
  width: 115%;
  margin-left: -6.8%;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);

}
.slow{
 height: 70px;
}
.crdtxt{
  margin-top: -6%;
}
.crdtxt2{
  margin-top: 2%;
  margin-left: 7%;
  font-family: $font-stack;
}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
.efect {
  margin-bottom: 27%;
  margin-right: 4%;
  position: relative;
  width: 100px;
  height: 135px;
  box-shadow: inset 0px -410px 42px rgba(0,0,0,0.9);
  border-radius: 20px 20px 0px 0px;
  margin-left: 15px;
  display: block;
  position: relative;
  visibility: show;
}

.im_efect {
  border-radius: 20px 20px 0px 0px;
  opacity: 1;
  display: block;
  width: 154px;
  margin-left: -15px;
  height: 135px;
  transition: .5s ease;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  backface-visibility: hidden;
}

.div_efect {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.efect:hover .im_efect {
  opacity: 0.3;
}

.efect:hover .div_efect {
  opacity: 1;
  width: 100px;
}

.text_efect {
  color: white;
  font-size: 14px;
  width: 100px;
  position: relative;
  visibility: show;
}
.card{
  width: 125%;
  margin-left: -11.8%;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);

}
.slow{
 height: 64px;
}
.crdtxt{
  margin-top: -18%;
  font-size: 14px;
}
.crdtxt2{
  margin-top: 2%;
  margin-left: 7%;
  font-family: $font-stack;
}
}

@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px){
.efect {
  margin-bottom: 15%;
  margin-right: 4%;
  position: relative;
  width: 100px;
  height: 170px;
  box-shadow: inset 0px -410px 42px rgba(0,0,0,0.9);
  border-radius: 20px 20px 0px 0px;
  margin-left: 15px;
  display: block;
  position: relative;
  visibility: show;
}

.im_efect {
  border-radius: 20px 20px 0px 0px;
  opacity: 1;
  display: block;
  width: 209px;
  margin-left: -15px;
  height: 170px;
  transition: .5s ease;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  backface-visibility: hidden;
}

.div_efect {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.efect:hover .im_efect {
  opacity: 0.3;
}

.efect:hover .div_efect {
  opacity: 1;
  width: 100px;
}

.text_efect {
  color: white;
  font-size: 14px;
  width: 100px;
  position: relative;
  visibility: show;
}
.card{
  width: 118%;
  margin-left: -8.8%;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);

}
.slow{
 height: 85px;
}
.crdtxt{
  margin-top: -9%;
}
.crdtxt2{
  margin-top: 2%;
    margin-left: 9%;
    margin-bottom: 2%;
    font-family: $font-stack;
}
}

@media only screen and (min-device-width : 1366px) and (max-device-width : 1920px){
  .efect {
    margin-bottom: 18%;
    margin-right: 4%;
    position: relative;
    width: 100px;
    height: 170px;
    box-shadow: inset 0px -410px 42px rgba(0,0,0,0.9);
    border-radius: 20px 20px 0px 0px;
    margin-left: 15px;
    display: block;
    position: relative;
    visibility: show;
  }

  .im_efect {
    border-radius: 4%;
    opacity: 1;
    display: block;
    width: 209px;
    margin-left: -15px;
    height: 170px;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);

  }

  .div_efect {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .efect:hover .im_efect {
    opacity: 0.3;
  }

  .efect:hover .div_efect {
    opacity: 1;
    width: 100px;
  }

  .text_efect {
    color: white;
    font-size: 14px;
    width: 100px;
    position: relative;
    visibility: show;
  }
  .card{
    width: 118%;
    height: 70%;
    margin-left: -8.8%;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  }
  .slow{
  height: 85px;
  }
  .crdtxt{
    
  }
  .crdtxt2{
    margin-top: 2%;
    margin-left: 7%;
    font-family: $font-stack;
  }
}

.card-body{
  border-top: none!important;
  
}
a,u.crdtxt1:hover{
  text-decoration: none!important;
}
a.crdtxt1{
    color: white;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 2s;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: both

}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}
.pnl{
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}